In [1]:
# import splinter and beautifulsoup
from splinter import Browser
from bs4 import BeautifulSoup as soup

import pandas as pd

In [2]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path)

In [3]:
# mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [4]:
# html parser
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('ul.item_list li.slide')

In [5]:
# find article title
slide_elem.find("div", class_='content_title')

In [6]:
# Use the parent element to find the first `a` tag and save it as `news_title`
# get_text() returns only texst and not any of the html tags or elements
news_title = slide_elem.find("div", class_='content_title').get_text()
news_title

'My Culture, My Voice'

In [7]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_="article_teaser_body").get_text()
news_p

'In honor of Hispanic Heritage Month, Christina Hernandez, an instrument engineer on the Mars 2020 mission, talks about her childhood and journey to NASA.'

### Featured Images

In [8]:
# Visit URL
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [9]:
# Find and click the full image button
# variable to hold scraping result, browser finds element by its id
full_image_elem = browser.find_by_id('full_image')
# splinter will click the image
full_image_elem.click()

In [10]:
# Find the more info button and click that
# search for an element that has "more info" text
browser.is_element_present_by_text('more info', wait_time=1)
# take our string "more info" to find the link associated with the "more info" text
more_info_elem = browser.links.find_by_partial_text('more info')
# splinter will click the link
more_info_elem.click()

In [11]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [12]:
# Find the relative image url
# look inside <figure class="lede" /> tag for an <a /> tag, then look within that <a /> tag 
# for an <img /> tag
img_url_rel = img_soup.select_one('figure.lede a img').get("src")
img_url_rel

'/spaceimages/images/largesize/PIA18914_hires.jpg'

In [13]:
# Use the base URL to create an absolute URL
img_url = f'https://www.jpl.nasa.gov{img_url_rel}'
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18914_hires.jpg'

In [14]:
# finds and returns list of tables found in the html, index 0 for the first table
df = pd.read_html('http://space-facts.com/mars/')[0]
# assign column names
df.columns=['description', 'value']
# turning description column into the df's index, inplace=true means updated index will remain in place
# without having to reassign df to new variable
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [15]:
# convert df back to html-ready code
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [16]:
# end automated browsing session
browser.quit()

# Challenge

In [20]:
# Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [21]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path)

### Visit the NASA Mars News Site

In [22]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

# Optional delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [23]:
# Convert the browser html to a soup object and then quit the browser
html = browser.html
news_soup = soup(html, 'html.parser')

slide_elem = news_soup.select_one('ul.item_list li.slide')

In [24]:
slide_elem.find("div", class_='content_title')

In [25]:
# Use the parent element to find the first a tag and save it as `news_title`
news_title = slide_elem.find("div", class_='content_title').get_text()
news_title

'My Culture, My Voice'

In [26]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_="article_teaser_body").get_text()
news_p

'In honor of Hispanic Heritage Month, Christina Hernandez, an instrument engineer on the Mars 2020 mission, talks about her childhood and journey to NASA.'

### JPL Space Images Featured Image

In [27]:
# Visit URL
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [28]:
# Find and click the full image button
full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

In [29]:
# Find the more info button and click that
browser.is_element_present_by_text('more info', wait_time=1)
more_info_elem = browser.links.find_by_partial_text('more info')
more_info_elem.click()

In [30]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [31]:
# find the relative image url
img_url_rel = img_soup.select_one('figure.lede a img').get("src")
img_url_rel

'/spaceimages/images/largesize/PIA16884_hires.jpg'

In [32]:
# Use the base url to create an absolute url
img_url = f'https://www.jpl.nasa.gov{img_url_rel}'
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16884_hires.jpg'

### Mars Facts

In [33]:
df = pd.read_html('http://space-facts.com/mars/')[0]

df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [34]:
df.columns=['Description', 'Mars']
df.set_index('Description', inplace=True)
df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [35]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Weather

In [36]:
# Visit the weather website
url = 'https://mars.nasa.gov/insight/weather/'
browser.visit(url)

In [37]:
# Parse the data
html = browser.html
weather_soup = soup(html, 'html.parser')

In [38]:
# Scrape the Daily Weather Report table
weather_table = weather_soup.find('table', class_='mb_table')
print(weather_table.prettify())

<table class="mb_table" id="weather_observation" style="width:100%;">
 <thead>
  <tr>
   <th colspan="2" scope="col">
    Time
   </th>
   <th colspan="3" id="temperature_lbl" scope="col">
    Air Temperature (
    <span class="lbl_fahrenheit">
     °F
    </span>
    <span class="slash">
     |
    </span>
    <span class="lbl_celsius fadeBlack">
     °C
    </span>
    )
   </th>
   <th colspan="4" id="windspeed_lbl" scope="col">
    Wind Speed (
    <span class="lbl_mph">
     mph
    </span>
    <span class="slash">
     |
    </span>
    <span class="lbl_mps fadeBlack">
     m/s
    </span>
    )
   </th>
   <th colspan="3" id="pressure_lbl" scope="col">
    Pressure (Pa)
   </th>
  </tr>
 </thead>
 <tbody>
  <tr id="weather_top">
   <th class="sol" scope="row">
    Date
   </th>
   <th class="sol" scope="row">
    Sol
   </th>
   <td class="temperature max">
    Max.
   </td>
   <td class="temperature avg">
    Avg.
   </td>
   <td class="temperature min">
    Min.
   </td>
   <td class="windspeed max">
    Max.
   </td>
   <td class="windspeed avg">
    Avg.
   </td>
   <td class="windspeed min">
    Min.
   </td>
   <td class="windspeed direction">
    Direction
    <br/>
    <span style="font-size:x-small">
     (most common)
    </span>
   </td>
   <td class="pressure max">
    Max.
   </td>
   <td class="pressure avg">
    Avg.
   </td>
   <td class="pressure min">
    Min.
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Sep. 16, 2020
   </th>
   <th class="sol" scope="row">
    643
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      5° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -15° C
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      -79.5° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -62° C
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      -140.2° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -95.7° C
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     44.4
    </span>
    <span class="mps" style="display:none">
     19.9
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     16.1
    </span>
    <span class="mps" style="display:none">
     7.2
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     1.2
    </span>
    <span class="mps" style="display:none">
     0.5
    </span>
   </td>
   <td class="windspeed point">
    WNW
   </td>
   <td class="pressure max">
    790.2
   </td>
   <td class="pressure avg">
    768.6
   </td>
   <td class="pressure min">
    738.8
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Sep. 15, 2020
   </th>
   <th class="sol" scope="row">
    642
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      4° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -15.6° C
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      -80.1° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -62.3° C
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      -138.5° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -94.7° C
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     42.6
    </span>
    <span class="mps" style="display:none">
     19
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     16.1
    </span>
    <span class="mps" style="display:none">
     7.2
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     1.6
    </span>
    <span class="mps" style="display:none">
     0.7
    </span>
   </td>
   <td class="windspeed point">
    WNW
   </td>
   <td class="pressure max">
    788.9
   </td>
   <td class="pressure avg">
    769.8
   </td>
   <td class="pressure min">
    740.2
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Sep. 14, 2020
   </th>
   <th class="sol" scope="row">
    641
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      9.3° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -12.6° C
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      -79.9° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -62.2° C
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      -139.7° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -95.4° C
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     37.5
    </span>
    <span class="mps" style="display:none">
     16.8
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     13.1
    </span>
    <span class="mps" style="display:none">
     5.9
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     0.5
    </span>
    <span class="mps" style="display:none">
     0.2
    </span>
   </td>
   <td class="windspeed point">
    WNW
   </td>
   <td class="pressure max">
    791.1
   </td>
   <td class="pressure avg">
    770.3
   </td>
   <td class="pressure min">
    739.8
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Sep. 13, 2020
   </th>
   <th class="sol" scope="row">
    640
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      18.7° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -7.4° C
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      -91.4° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -68.5° C
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      -138.7° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -94.8° C
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     35.6
    </span>
    <span class="mps" style="display:none">
     15.9
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     11.3
    </span>
    <span class="mps" style="display:none">
     5
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     0.5
    </span>
    <span class="mps" style="display:none">
     0.2
    </span>
   </td>
   <td class="windspeed point">
    WNW
   </td>
   <td class="pressure max">
    791.2
   </td>
   <td class="pressure avg">
    773.3
   </td>
   <td class="pressure min">
    741.9
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Sep. 12, 2020
   </th>
   <th class="sol" scope="row">
    639
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      13.3° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -10.4° C
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      -77.8° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -61° C
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      -140.1° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -95.6° C
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     37.1
    </span>
    <span class="mps" style="display:none">
     16.6
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     11.5
    </span>
    <span class="mps" style="display:none">
     5.1
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     0.5
    </span>
    <span class="mps" style="display:none">
     0.2
    </span>
   </td>
   <td class="windspeed point">
    WNW
   </td>
   <td class="pressure max">
    791.4
   </td>
   <td class="pressure avg">
    771
   </td>
   <td class="pressure min">
    740.6
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Sep. 11, 2020
   </th>
   <th class="sol" scope="row">
    638
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      5.2° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -14.9° C
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      -80.6° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -62.5° C
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      -138.5° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -94.7° C
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed point">
    n/a
   </td>
   <td class="pressure max">
    791.2
   </td>
   <td class="pressure avg">
    771.6
   </td>
   <td class="pressure min">
    741.5
   </td>
  </tr>
 </tbody>
</table>

# D1: Scrape High-Resolution Mars’ Hemisphere Images and Titles

### Hemispheres

In [138]:
# 1. Use browser to visit the URL 
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [139]:
# 2. Create a list to hold the images and titles.
hemisphere_image_urls = []

# 3. Write code to retrieve the image urls and titles for each hemisphere.
# Parse the resulting html with soup
html = browser.html
hemi_soup = soup(html, 'html.parser')

# holds all the tags that contain links to the images
all_pics = hemi_soup.find_all('div', class_='description')
# counter to iterate through h3 tags
i = 0

# loops through the tags
for pic in all_pics:
    
    # empty dictionary to hold title and full-res image URL string of each hemisphere iamge
    hemispheres = {}
    # finds all h3 tags, these contain the links
    element = browser.find_by_tag('h3')
    # checks to see if browser has loaded
    if browser.is_element_present_by_tag('h3'):
        
        # gets the title of each hemisphere image
        title = element[i].text
        # clicks the link to the full-res image
        element[i].click()
        # parse the second page containing the full-res image
        html_2 = browser.html
        hemi_2_soup = soup(html_2, 'html.parser')
        
        # holds all tags that contain the link
        full_res = hemi_2_soup.find('div', class_='downloads')
        # gets the full-res image URL
        image = full_res.find('a')['href']
        
        # create dictionay with title and URL
        hemispheres['img_url'] = image
        hemispheres['title'] = title
        # updates list with dictionary
        hemisphere_image_urls.append(hemispheres)
        
    # add one for the next tag    
    i = i + 1
    # go back to main page for next image
    browser.back()

In [140]:
# 4. Print the list that holds the dictionary of each image url and title.
hemisphere_image_urls

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [141]:
# 5. Quit the browser
browser.quit()